<h1>Book details</h1>
<p><strong>Title:</strong> <%= @book.title %> </p>
<p><strong>Author:</strong> <%= @book.author %> </p> 
<p><strong>Description:</strong> <%= @book.description %> </p>


<%= button_to 'Edit', edit_book_path(@book.id), method: :get %> 
<%= button_to 'Delete', book_path(@book.id), method: :delete %> 
<%= button_to 'Back', books_path(), method: :get %>
